@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--fg: #ffffff;
	--bg-start: #1a1a1a;
	--bg-end: #1a1a1a;
	/* --bg-end: #000000; */
	font-size: calc(15px + 0.390625vw);
}

/* @media (prefers-color-scheme: light) {
  :root {
    --fg: #000000;
    --bg-start: #D6DBDC;
    --bg-end: #FFFFFF; 
  }
} */

body {
	color: var(--fg);
	background: linear-gradient(to bottom, transparent, var(--bg-end)) var(--bg-start);
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
