@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--fg: #ffffff;
	--bg-start: #1a1a1a;
	--bg-end: #1a1a1a;
	font-size: calc(10px + 0.5vw);
}

body {
	color: var(--fg);
	background: linear-gradient(to bottom, transparent, var(--bg-end)) var(--bg-start);
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

/* NAV UNDERLINE */
@media (min-width: 768px) {
	ul > a {
		position: relative;
	}
	ul > a > span::after {
		content: "";
		position: absolute;
		width: 0px;
		height: 2px;
		bottom: 0;
		left: 0;
		background-color: white;
		transition: width 0.3s ease-in-out;
	}

	ul > a:hover > span::after {
		width: 100%;
	}
}

/* WAVE ANIMATION */
@media (min-width: 768px) {
	.wave {
		display: inline-block;
		translate: 2px -2px;
		transform-origin: bottom right;
	}
	nav > a:hover .wave {
		animation: wave-animation 2s infinite;
	}
}
@keyframes wave-animation {
	0%,
	100% {
		rotate: 0deg;
	}
	20%,
	60% {
		rotate: -10deg;
	}
	40%,
	80% {
		rotate: 10deg;
	}
}

/* BUTTON ARROW ANIMATION */
@media (min-width: 768px) {
	.hover-button span {
		animation: reverse-shift-right-animation 0.5s forwards;
	}

	.hover-button:hover span {
		animation: shift-right-animation 0.5s forwards;
	}
	.hover-button svg {
		animation: reverse-fade-right-animation 0.5s forwards;
	}

	.hover-button:hover svg {
		animation: fade-right-animation 0.5s forwards;
	}
}
@keyframes fade-right-animation {
	0% {
		opacity: 1;
		transform: translateX(0);
	}
	100% {
		opacity: 0;
		transform: translateX(20px);
	}
}
@keyframes reverse-fade-right-animation {
	0% {
		opacity: 0;
		transform: translateX(20px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes shift-right-animation {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(10px);
	}
}
@keyframes reverse-shift-right-animation {
	0% {
		transform: translateX(10px);
	}
	100% {
		transform: translateX(0);
	}
}

/* CIRCLE TEXT ANIMATION */
.rotating-curved-text {
	-webkit-animation: spin 20s linear infinite;
	-moz-animation: spin 20s linear infinite;
	animation: spin 20s linear infinite;
	position: absolute;
}
.mirror {
	scale: -1 -1;
}
.circle-arrow {
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	rotate: 45deg;
}
@-moz-keyframes spin {
	100% {
		-moz-transform: rotate(360deg);
	}
}
@-webkit-keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
	}
}
@keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

/* GLOW BUTTON */
.glow-button {
	background-color: #303030;
	color: #6c6c6c;
	transition: all 0.3s;
}
.glow-button:hover {
	box-shadow: -10px 0 80px #fff;
	background-color: white;
	color: black;
}

.glow-button svg path {
	stroke: currentColor;
	color: #6c6c6c;
	transition: color 0.3s;
}

.glow-button:hover svg path {
	color: black;
}
